
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;400;600;700;900&display=swap');
*
{
	margin: 0; padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
		scroll-behavior: smooth;
}

body
{ background-image: url(./img/findegg1.jpg);
	    background-size: cover;
    background-position: center;
    background-attachment: fixed;
min-height: 100vh; 
}

header
{ 
position: absolute;
top: 0;
left:0;
width: 100%;
padding: 30px 100px;
display: flex;
justify-content: space-between;
align-items: center;
z-index:10000 }

header .logo
{
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
}
header ul
{
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li
{
	list-style: none;
	margin-left: 20px;
}
header ul li a
{
	text-decoration: none;
	padding: 6px 15px;
	color: #fff;
	border-radius: 20px;
}

header ul li a:hover ,header ul li a.active
{
	background: #fff;
	color: #2b1055;
}
section 
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

section:before
{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background:linear-gradient(to top, black, black, transparent);
	z-index: 1000;
}

.main
{
	height: 100vh;
}
section img
{
	position: absolute;
	top: 0;
	
	object-fit: cover;
}
section img#findegg1
{ mix-blend-mode:  ;
width: 100%;
max-width: 100%;
margin: auto;
  background-size: cover;
    background-position: center;
    background-attachment: fixed;}


.wrap
{
	width: 1200px;
	margin: auto;
	height: 100%;
	position: relative;
}

#findfront
{ height: 100%;
	width: 100%;
	z-index: 11;
}

#text
{ 
	position:absolute; 
	color: white;
	white-space: nowrap;
	font-size: 7.5vw;
	
	z-index: 9;
}

.btn {
	text-decoration: none;
	display: inline-block;
	padding: 8px 30px;
	border-radius: 40px;
	background: white;
	color: #2b1055;
	font-size: 1.5em;
	z-index: 11;
	transform: translateY(100px);


}



.kimiwa
{
	display: flex;
	position: relative;
	padding: 10vw;
	background: url(./img/dragonsky.jpg);
	 background-position: center;
	background-size: cover;
	justify-content: center;
	align-items: center;
}




.kimiwa:before
{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background:linear-gradient(to top,  #1E2942, transparent);
	z-index: 1000;
}

.kimiwa h2
		{ display: block;
		margin-bottom: -10px;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 700;
		font-size: 4rem;

		line-height: 96px;

		color: #FFFFFF;

		text-shadow: 2px 0px 5px rgba(32, 73, 134, 0.83);
		}

.kimiwa p
		{
		text-align: left;
		padding: 10px;
		font-size: 1rem;
		color: white;
		font-weight: 400;
		display: block;

		font-family: 'Poppins';
		font-style: normal;
		line-height: 25px;

		color: #FFFFFF;

		text-shadow: 0px 0px 4px #003380;

		}
.kimiwa img
{
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;

}


#findegg1
{
	position: relative;
}
#findfront
{ height: 100%;
	position: absolute;
z-index: 11;
}


.chat1 
{ 
	position: relative;
	text-align: center;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 2rem;
	color: #fff;
	display: inline;
	
	
	z-index: 1001;
	text-decoration: none;

}
.next2btn
{
	position: absolute;
	left: 100px;
	bottom: 200px;
}
.chat2
{ 
	position: relative;
	text-align: center;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 2rem;
	color: #fff;
	display: inline;
	
	
	z-index: 1001;
	text-decoration: none;

}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 30px solid #fff; 
	transform: translateY(10px);
	margin-left: 14px;

}	


/*messages*/

.chat-bg
{
	background: #1E2942;
	height: 900px;
}



.screen
{
	position: absolute;
	width: 609px;
	height: 341px;
	left: 30px;
	top: 100px;

	background: radial-gradient(69.21% 69.21% at 49.92% 50.15%, rgba(0, 131, 252, 0.3) 0%, #1D9ED6 100%);
border: 3px solid #0257D7;
box-shadow: 2px 8px 7px rgba(18, 74, 138, 0.63);
border-radius: 4px; 
z-index: 7;
}

.m-title
{ position: absolute;
left: 232px;
top: 63px;

font-family: 'Noto Serif KR', serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;


text-align: center;

color: #FFFFFF;

text-shadow: 0px 1px 6px rgba(106, 210, 255, 0.97);
}

.m-1{
	position: absolute;
width: 130px;
height: 15px;
left: 126px;
top: 111px;

font-family: 'Noto Serif KR', serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-align: center;

color: #FFFFFF;

text-shadow: 0px 1px 6px rgba(106, 210, 255, 0.97);
}

.m-2 {
	position: absolute;
width: 128px;
height: 15px;
left: 126px;
top: 130px;

font-family: 'Noto Serif KR', serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-align: center;

color: #FFFFFF;

text-shadow: 0px 1px 6px rgba(106, 210, 255, 0.97);
}
.m-3{
	position: absolute;
	left: 345px;
	top: 260px;

	font-family: 'Noto Serif KR', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;

	color: #FFFFFF;

	text-shadow: 0px 1px 6px rgba(106, 210, 255, 0.97);
}
.m-contents
{position: absolute;

left: 126px;
top: 178px;


font-family: 'Noto Serif KR', serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #FFFFFF;

text-shadow: 0px 1px 6px rgba(106, 210, 255, 0.97);;
}


.idcard
	{

		width: 475px;
	height: 290px;
	box-sizing: border-box;
	position: absolute;
	left:150px;
	top: 400px;
	background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 4px 3px rgba(192, 196, 200, 0.31);
border-radius: 10px;
transform: rotate(-14.4deg);;
z-index: 7;
}


.screen2
{
	box-sizing: border-box;

	position: absolute;
	width: 609px;
	height: 700px;
	left: 500px;
	top: 150px;

	background: radial-gradient(69.21% 69.21% at 49.92% 50.15%, rgba(0, 131, 252, 0.3) 0%, #1D9ED6 100%);
	box-shadow: 0px 4px 10px 5px rgba(17, 97, 171, 0.56);
	border-radius: 4px;
	border: 3px solid #0257D7;

	z-index: 6;
	}

		.m2-1
		{position: absolute;

		left: 42px;
		top: 44px;

		font-family: 'Noto Serif KR', serif;
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 18px;

		color: #FFFFFF;

		text-shadow: 0px 1px 6px rgba(106, 210, 255, 0.97);}

		.m2-2{
			position: absolute;
		width: 515px;
		height: 46px;
		left: 42px;
		top: 115px;

		font-family: 'Noto Serif KR', serif;
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;

		color: #FFFFFF;

		text-shadow: 0px 1px 6px rgba(106, 210, 255, 0.97);
		}
		.m2-3{
			position: absolute;
		width: 515px;
		height: 1046.4px;
		left: 42px;
		top: 191px;

		font-family: 'Noto Serif KR', serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;

		color: #FFFFFF;

		text-shadow: 0px 1px 6px rgba(106, 210, 255, 0.97);
		overflow-y: scroll;
		    height: 500px;
		}
					.m2-3::-webkit-scrollbar {
					                width: 15px; 
					                /*스크롤바의 너비*/
					            }
		 
		            .m2-3::-webkit-scrollbar-thumb {
		                background: rgba(107, 211, 255, 0.37); /*스크롤바의 색상*/
		                border: 2px solid white;
		                background-clip: padding-box;
		                border-radius: 20px;
		        }
		              
		              
		 
		            .m2-3::-webkit-scrollbar-track 
		           {
		                background-color: transparent; /*스크롤바 트랙 색상*/
		            }



.solo
{
	background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.89125) 16.03%, rgba(0, 0, 0, 0.13) 96.17%), url(./img/desk1.png);
	background-size: cover;

	
}

.solotext
{
	margin: auto;
	color: #fff;
		font-family:'Noto Serif KR', serif;
		font-style: normal;
		font-weight: 400;
		font-size: 1.4vw;
		top: 0;
		left: 20vw;
		line-height: 45px;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		padding: 10vw;

		
}

.solo p
{ text-align: center;
	padding-bottom: 1vw;

}


.newspaper
{
	position: absolute;
	padding-top: 2vw;
	
 }

.newspaper img 
{ position: relative;
	width: 25vw;


}

.div-news1, .div-news2, .div-news3   /*마우스 올리면 확대*/
{  position: absolute;
	border-radius: 10px;
}
#news1,#news2,#news3
{
	box-shadow: -6px 19px 8px rgba(0, 0, 0, 0.58);
}

.div-news1
{
	transform: rotate(-8.17deg);
	z-index: 3;
 left: 0;

}
.div-news2
{
	transform: rotate(2.73deg);
	z-index: 4;
	left: 25vw;
	
}
.div-news3
{
	transform: rotate(-4.66deg);
	z-index: 5;
	left: 50vw;
	
}

.this
{
	padding-top: 21vw;
	text-align: center;
	font-size: 1.8vw;
	font-weight: 700; /*빛나게 하면 좋을듯*/
	text-shadow: 0px 2px 16px #34495E;
}

#newmessages
{ 

	position: relative;
	display: block;
	margin: auto;
}
#phone
{ width: 20vw;
	position: relative;
	display: block;
	margin: auto;
}


.solotext1
{

	margin: auto;
	color: #fff;
		font-family:'Noto Serif KR', serif;
		font-style: normal;
		font-weight: 400;
		top: 0;
		left: 20vw;
		line-height: 40px;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		padding: 2vw;

		
}

footer
{ position: absolute;
	z-index: 10000;
	background: black;
	color: white;
	width: 100%;
	padding: 1vw;
	font-size: 1.3vw;

}